<section class="projects" id="projekte">
  <div class="section-headline" appReveal>
    <span class="section-kicker">Ausgewählte Projekte</span>
    <h2>Einsatzbilder aus der Praxis</h2>
    <p>Ein Blick hinter die Kulissen: Modernes Equipment, eingespielte Teams und fließende Abläufe – auch bei Nacht.</p>
  </div>
  <div class="project-gallery">
    <figure appReveal>
      <img src="/images/3.png" alt="Einsatzbild 1" />
    </figure>
    <figure appReveal appRevealDelay="120">
      <img src="/images/4.png" alt="Einsatzbild 2" />
    </figure>
    <figure appReveal appRevealDelay="220">
      <img src="/images/5.png" alt="Einsatzbild 3" />
    </figure>
    <figure appReveal appRevealDelay="320">
      <img src="/images/6.png" alt="Einsatzbild 4" />
    </figure>
  </div>
  <div class="project-strip" appReveal appRevealDelay="160">
    <div class="strip-track" appReveal appRevealDelay="240">
      <img src="/images/3.png" alt="Einsatzbild 1" />
      <img src="/images/4.png" alt="Einsatzbild 2" />
      <img src="/images/5.png" alt="Einsatzbild 3" />
      <img src="/images/6.png" alt="Einsatzbild 4" />
      <img src="/images/autobahn1.jpg" alt="Autobahnbaustelle beleuchtet" />
      <img src="/images/autobahn2.jpg" alt="Baustellenfahrzeug auf Autobahn" />
      <img src="/images/autobahn3.jpg" alt="Verkehrsleitkegel entlang eines Abschnitts" />
      <img src="/images/bild1.jpg" alt="Baustelle Bild 1" />
      <img src="/images/bild2.jpg" alt="Baustelle Bild 2" />
      <img src="/images/bild3.jpg" alt="Baustelle Bild 3" />
      <img src="/images/bild4.jpg" alt="Baustelle Bild 4" />
      <img src="/images/bild5.jpg" alt="Baustelle Bild 5" />
    </div>
  </div>
</section>
